.mixin() {
  .root {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .header-bar {
      width: 100%;
      left: 0px;
      right: 0px;
      position: fixed;
      z-index: 10;
      display: flex;
      flex-direction: row;
      padding: 24rpx 80rpx;
      justify-content: space-between;
      align-items: stretch;
      box-sizing: border-box;

      .logo {
        width: 237.82rpx;
        height: 94rpx;
        background-image: url("https://www.wishpost.cn/static/dist/wishpost_logo.gif?4db923a81850c39ea2b1e411289327c0");
        background-position: 50%;
        background-size: cover;
      }

      .right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      }

      .icon-button {
        padding: 10rpx 18rpx;
        margin: 0;
        width: unset;
        height: 60rpx;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .option-button {
        border: 1px black solid;
        border-radius: 8rpx;
      }
      .lang-button {
        margin-left: 10rpx;
        font-size: 28rpx;
      }
    }

    .content {
      padding: 0 70rpx;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .title {
        margin-top: 220rpx;
        font-size: 72rpx;
      }

      .desc {
        margin-top: 96rpx;
        font-size: 40rpx;
      }

      .query-button {
        margin: 96rpx 0;
        font-size: 28rpx;
        align-self: flex-start;
      }
    }
  }
}

.mixin() !important;