.container {
  padding: 10rpx;
  margin: 0;

  .space {
    margin-top: 80rpx;
  }
  .small-space {
    margin-top: 20rpx;
  }

  .title {
    .space();
    font-size: 72rpx;
  }

  .content {
    margin-top: 40rpx;
    height: 100%;
    background-color: white;
    padding: 0 70rpx;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  
    .desc {
      .space();
      font-size: 40rpx;
    }

    .textarea {
      .space();
      padding: 16rpx;
      background-color: #192a320d;
    }

    .flex-left {
      align-self: flex-start;
    }

    .btn-query {
      .flex-left();
      .space();
    }

    .btn-clear {
      .flex-left();
      .small-space();
    }
  
  }
}